@import '../theme/theme';

.logo {
  display: inline;
  height: 30px;
  margin-left: .5rem;
  margin-right: .5rem;
  width: 30px;
}

.nav-header {
  font-size: .8rem;
  padding: 1rem;

  h5 {
    display: inline;
    position: relative;
    top: .3rem;
  }

  .dropdown-divider {
    border-top-color: $shadow;
  }

  .nav-link {
    &:hover {
      background-color: $shadow !important;
    }

    &.active {
      background-color: $shadow !important;
      font-weight: bold !important;
    }
  }
}

.subnav {
  background-color: $black;
}

.confirmation {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  &.card {
    max-width: 1000px;
    min-width: 400px;
  }
}
